In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('friends_dataset.csv')
df.head()

                                                text        label
0     Oh my God, hes lost it. Hes totally lost it.  non-neutral
1                                              What?     surprise
2  Or! Or, we could go to the bank, close our acc...      neutral
3                                   Youre a genius!          joy
4            Aww, man, now we wont be bank buddies!      sadness

In [6]:
df['label'].unique()

array(['non-neutral', 'surprise', 'neutral', 'joy', 'sadness', 'anger',
       'disgust', 'fear'], dtype=object)

In [7]:
df = df[df['label'] != 'non-neutral']

In [8]:
len(df)

11731

In [9]:
df.head()

                                                text     label
1                                              What?  surprise
2  Or! Or, we could go to the bank, close our acc...   neutral
3                                   Youre a genius!       joy
4            Aww, man, now we wont be bank buddies!   sadness
5                          Now, theres two reasons.   neutral

In [53]:
def a(x):
    if x =='sadness':
        return 'sad'
    elif x =='anger':
        return 'angry'
    else:
        return x

In [12]:
df.head()

                                                text     label
1                                              What?  surprise
2  Or! Or, we could go to the bank, close our acc...   neutral
3                                   Youre a genius!       joy
4            Aww, man, now we wont be bank buddies!       sad
5                          Now, theres two reasons.   neutral

In [13]:
df['label'].unique()

array(['surprise', 'neutral', 'joy', 'sad', 'anger', 'disgust', 'fear'],
      dtype=object)

In [14]:
df.rename(columns={'label' : 'emotion'})

                                                    text   emotion
1                                                  What?  surprise
2      Or! Or, we could go to the bank, close our acc...   neutral
3                                       Youre a genius!       joy
4                Aww, man, now we wont be bank buddies!       sad
5                              Now, theres two reasons.   neutral
...                                                  ...       ...
14496  When I first moved to the city, I went out a c...   disgust
14497                                   It made me nuts.   disgust
14498                                         You or me?   neutral
14500               You guys are messing with me, right?  surprise
14501                                              Yeah.   neutral

[11731 rows x 2 columns]

In [15]:
df.rename(columns = {'text' : 'sentences' , 'label' : 'emotion'},inplace = True)

In [16]:
df.head()

                                           sentences   emotion
1                                              What?  surprise
2  Or! Or, we could go to the bank, close our acc...   neutral
3                                   Youre a genius!       joy
4            Aww, man, now we wont be bank buddies!       sad
5                          Now, theres two reasons.   neutral

In [17]:
train_df = df.sample(frac=0.8 , random_state = 42)
valid_df = df.drop(train_df.index).sample(frac=0.5,random_state=42)
test_df = df.drop(train_df.index).drop(valid_df.index)

In [18]:
len(train_df)

9385

In [19]:
len(valid_df)

1173

In [20]:
len(test_df)

1173

In [21]:
test_df.to_csv('friend_test.csv',index=False)

In [23]:
kk = pd.read_csv('friend_test.csv')

In [24]:
kk.head()

                                           sentences   emotion
0  Or! Or, we could go to the bank, close our acc...   neutral
1                          Now, theres two reasons.   neutral
2                                     On the touchy.   neutral
3                                        No, I know!  surprise
4  Yeah! Yeah! Yeah! Like-like when Im doing som...       joy

In [25]:
valid_df.to_csv('friend_valid.csv',index=False)
train_df.to_csv('friend_train.csv',index=False)

In [26]:
df = pd.read_csv('emotions_train.csv')
df.head()

                                                text  label  emotion
0                            i didnt feel humiliated      0  sadness
1  i can go from feeling so hopeless to so damned...      0  sadness
2   im grabbing a minute to post i feel greedy wrong      3    anger
3  i am ever feeling nostalgic about the fireplac...      2     love
4                               i am feeling grouchy      3    anger

In [31]:
df['emotion'].unique()

array(['sadness', 'anger', 'love', 'surprise', 'fear', 'joy'],
      dtype=object)

In [34]:
df.rename(columns={'text' : 'sentences'},inplace = True)

In [35]:
df.head()

                                           sentences  label  emotion
0                            i didnt feel humiliated      0  sadness
1  i can go from feeling so hopeless to so damned...      0  sadness
2   im grabbing a minute to post i feel greedy wrong      3    anger
3  i am ever feeling nostalgic about the fireplac...      2     love
4                               i am feeling grouchy      3    anger

In [36]:
df['emotion'] = df['emotion'].apply(a)

In [37]:
df.head()

                                           sentences  label emotion
0                            i didnt feel humiliated      0     sad
1  i can go from feeling so hopeless to so damned...      0     sad
2   im grabbing a minute to post i feel greedy wrong      3   anger
3  i am ever feeling nostalgic about the fireplac...      2    love
4                               i am feeling grouchy      3   anger

In [41]:
df.sample(5).head()

                                               sentences  label emotion
11086  i read new risen throne once said cold amp des...      4    fear
1940   i could feel the radiant heat of emanating fro...      1     joy
14189  i generally use this icon when im feeling play...      1     joy
10488  i come out of the cinema feeling like a giggly...      1     joy
9372   i wasnt the only one feeling very pleased abou...      1     joy

In [42]:
df = df[df['emotion'] != 'love']

In [43]:
df.head()

                                           sentences  label emotion
0                            i didnt feel humiliated      0     sad
1  i can go from feeling so hopeless to so damned...      0     sad
2   im grabbing a minute to post i feel greedy wrong      3   anger
4                               i am feeling grouchy      3   anger
5  ive been feeling a little burdened lately wasn...      0     sad

In [44]:
df.to_csv('emotion_nolove_train.csv')

In [45]:
df['emotion'].unique()

array(['sad', 'anger', 'surprise', 'fear', 'joy'], dtype=object)

In [47]:
valid_df = pd.read_csv('emotions_valition.csv')
valid_df.rename(columns={'text' : 'sentences'},inplace = True)
valid_df['emotion'] = valid_df['emotion'].apply(a)
valid_df = valid_df[valid_df['emotion'] != 'love']

valid_df.to_csv('emotion_nolove_valid.csv')

In [48]:
test_df = pd.read_csv('emotions_test.csv')
test_df.rename(columns={'text' : 'sentences'},inplace = True)
test_df['emotion'] = valid_df['emotion'].apply(a)
test_df = valid_df[valid_df['emotion'] != 'love']

test_df.to_csv('emotion_nolove_test.csv')

In [49]:
train_df = pd.read_csv('train_sent_emo_dya.csv')
train_df.head()

,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Old_Dialogue_ID,Old_Utterance_ID,Season,Episode,StartTime,EndTime
0,also I was the point person on my company’s tr...,Chandler,neutral,neutral,0,0,0,0,8,21,"00:16:16,059","00:16:21,731"
1,You must’ve had your hands full.,The Interviewer,neutral,neutral,0,1,0,1,8,21,"00:16:21,940","00:16:23,442"
2,That I did. That I did.,Chandler,neutral,neutral,0,2,0,2,8,21,"00:16:23,442","00:16:26,389"
3,So let’s talk a little bit about your duties.,The Interviewer,neutral,neutral,0,3,0,3,8,21,"00:16:26,820","00:16:29,572"
4,My duties? All right.,Chandler,surprise,positive,0,4,0,4,8,21,"00:16:34,452","00:16:40,917"

In [52]:
train_df['Emotion'].unique()

array(['neutral', 'surprise', 'fear', 'sadness', 'joy', 'disgust',
       'anger'], dtype=object)

In [64]:
train_df.rename(columns = {'Utterance' : 'sentences' , 'Emotion' : 'emotion'},inplace = True)

In [55]:
train_df['emotion'] = train_df['emotion'].apply(a)

In [65]:
train_df.head()

,sentences,Speaker,emotion,Sentiment,Dialogue_ID,Utterance_ID,Old_Dialogue_ID,Old_Utterance_ID,Season,Episode,StartTime,EndTime
0,also I was the point person on my company’s tr...,Chandler,neutral,neutral,0,0,0,0,8,21,"00:16:16,059","00:16:21,731"
1,You must’ve had your hands full.,The Interviewer,neutral,neutral,0,1,0,1,8,21,"00:16:21,940","00:16:23,442"
2,That I did. That I did.,Chandler,neutral,neutral,0,2,0,2,8,21,"00:16:23,442","00:16:26,389"
3,So let’s talk a little bit about your duties.,The Interviewer,neutral,neutral,0,3,0,3,8,21,"00:16:26,820","00:16:29,572"
4,My duties? All right.,Chandler,surprise,positive,0,4,0,4,8,21,"00:16:34,452","00:16:40,917"

In [58]:
train_df['Sentiment'].unique()

array(['neutral', 'positive', 'negative'], dtype=object)

In [66]:
len(train_df)

12840

In [69]:
train_df = train_df.drop_duplicates(subset = 'sentences')

In [70]:
len(train_df)

8738

In [71]:
train_df.to_csv('dya_train.csv')

In [76]:

train_df = pd.read_csv('test_sent_emo_dya.csv')
train_df.rename(columns = {'Utterance' : 'sentences' , 'Emotion' : 'emotion'},inplace = True)
train_df['emotion'] = train_df['emotion'].apply(a)
train_df = train_df.drop_duplicates(subset = 'sentences')
train_df.to_csv('dya_test.csv')

In [77]:
train_df[:20]

,sentences,Speaker,emotion,Sentiment,Dialogue_ID,Utterance_ID,Old_Dialogue_ID,Old_Utterance_ID,Season,Episode,StartTime,EndTime
0,Why do all you’re coffee mugs have numbers on ...,Mark,surprise,positive,0,0,0,0,3,19,"00:14:38,127","00:14:40,378"
1,Oh. That’s so Monica can keep track. That way ...,Rachel,angry,negative,0,1,0,1,3,19,"00:14:40,629","00:14:47,385"
2,Y'know what?,Rachel,neutral,neutral,0,2,0,2,3,19,"00:14:56,353","00:14:57,520"
3,Okay.,Ross,neutral,neutral,1,0,2,0,5,16,"00:07:26,446","00:07:27,487"
4,"Ross, didn't you say that there was an elevato...",Rachel,neutral,neutral,1,1,2,1,5,16,"00:07:27,655","00:07:30,574"
5,"Uhh, yes I did but there isn't. Okay, here we go.",Ross,sad,negative,1,2,2,2,5,16,"00:07:30,741","00:07:34,119"
6,"Okay, go left. Left! Left!",Ross,surprise,negative,1,3,2,3,5,16,"00:07:35,413","00:07:37,205"
7,"Okay, y'know what? There is no more left, left!",Rachel,angry,negative,1,4,2,4,5,16,"00:07:39,709","00:07:43,128"
8,"Oh okay, lift it straight up over your head!",Ross,angry,negative,1,5,2,5,5,16,"00:07:43,963","00:07:46,047"
9,Straight up over your head!,Ross,angry,negative,1,6,2,6,5,16,"0:07:46,215","0:07:47,777"
10,You can do it!,Ross,joy,positive,1,7,2,7,5,16,"0:07:47,777","0:07:48,648"
13,You got it?,Ross,neutral,neutral,1,10,2,10,5,16,"0:07:51,150","0:07:52,227"
14,"Oh, okay, I get it.",Steve,neutral,neutral,2,0,3,0,5,15,"00:05:59,776","00:06:01,777"
15,"No wait, look. Look! I'm sorry, it's just I've...",Ross,fear,negative,2,1,3,1,5,15,"00:06:02,153","00:06:06,823"
16,Howard's the,Steve,neutral,neutral,2,2,3,2,5,15,"00:06:09,660","00:06:12,329"
17,"Yes but too me he's just, man.",Ross,neutral,neutral,2,3,3,3,5,15,"00:06:13,414","00:06:17,250"
18,"Okay, fine, whatever. Welcome to the building.",Steve,angry,negative,2,4,3,4,5,15,"00:06:17,919","00:06:23,590"
19,"Ugh, can you believe that guy!",Ross,disgust,negative,2,5,3,5,5,15,"00:06:26,177","00:06:28,178"
21,Yeah. I really like his glasses.,Phoebe,neutral,neutral,3,1,3,6,5,15,"00:06:28,346","00:06:30,889"
22,Ohh!,Phoebe,surprise,positive,4,0,4,0,4,14,"00:08:42,271","00:08:43,271"

In [83]:


import json
import pandas as pd
from tqdm.notebook import tqdm

# define data type
friends_data = dict(season_id=[],
                    episode_id=[],
                    scene_id=[],
                    utterance_id=[],
                    speaker=[],
                    emotion = [],
                    tokens=[],
                    transcript=[]
                    )

with open('emotion-detection-tst.json') as f:
    # load the data from the file
    season = json.load(f)
    season_id = season['season_id']

# read each episode
for episode in season['episodes']:
    episode_id = episode['episode_id']

    # read each scene
    for scene in episode['scenes']:
        scene_id = scene['scene_id']

      # read each utterance
        for utterance in scene['utterances']:
            utterance_id = utterance['utterance_id']
            speaker = utterance['speakers'][0] if utterance['speakers'] else 'unknown'
            friends_data['season_id'].append(season_id)
            friends_data['episode_id'].append(episode_id.split('_')[-1])
            friends_data['scene_id'].append(scene_id.split('_')[-1])
            friends_data['utterance_id'].append(utterance_id.split('_')[-1])
            friends_data['speaker'].append(speaker)
            friends_data['transcript'].append(utterance['transcript'])
            friends_data['emotion'].append(utterance['emotion'])
            friends_data['tokens'].append(utterance['tokens'])

# save dicitonary to data frame
friends_df = pd.DataFrame(friends_data)

# save data frame to .tsv
friends_df.to_csv('friends_transcripts.tsv', sep=',', index=False)

print('File saved in `friends_transcripts.tsv` !')
# show sample
friends_df.head()

File saved in `friends_transcripts.tsv` !

,season_id,episode_id,scene_id,utterance_id,speaker,emotion,tokens,transcript
0,trn,e24,c01,u002,Housekeeper,Neutral,"[[The, Waltham, Residence, .]]",The Waltham Residence.
1,trn,e24,c01,u003,Phoebe Buffay,Neutral,"[[Oh, ...], [yes, ..], [is, this, ..], [umm, ....",Oh...yes..is this..umm..Emily's Parents' house.
2,trn,e24,c01,u004,Housekeeper,Peaceful,"[[This, is, the, housekeeper, speaking, .], [A...",This is the housekeeper speaking. And by the w...
3,trn,e24,c01,u005,Phoebe Buffay,Powerful,"[[What, are, you, saying, ?!]]",What are you saying?!
4,trn,e24,c01,u006,Housekeeper,Peaceful,"[[Now, ,, let, us, try, that, again, ,, shall,...","Now, let us try that again, shall we?"